.textComp {
  background-color: #fff;
  transition: 0.5s;
  &:hover {
    background-color: #0069d2;
    p {
      color: #fff;
    }
  }
  p {
    padding: 20px 10px;
    color: #000;
  }
}

.solutionNav {
  background-color: #031d2e;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  &:hover {
    background-color: #f0252a;
  }
}
.activeSectorNav {
  background-color: #c1252a;
}
